.services {
  margin-bottom: 60px;
}

.services__title {
  margin-bottom: 90px;
}

.services__title span {
  color: #c62314;
}

.services__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  text-align: center;
  flex-basis: 21%;
}

.services__item img {
  margin-bottom: 46px;
}

.services__item p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #161616;
}